.checkout{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    .card-divider{
        width: 100%;
        height: 1px;
        background-color: #eee;
    }
    .heading{
        font-size: 30px;
        font-weight: 600;
    }
    .mobile-place-card{
        display: none;
        margin-top: 20px;
        img{
            width: 150px;
            border-radius: 8px;
        }
    }
    .checkout-container{
        
    }
}

@media screen and (max-width : 768px) {
    .checkout{
        .mobile-place-card{
            display: flex;
            gap: 20px;
        }
    }
}