.dashboard{
    background-color: rgb(249, 250, 251);
}
.dashboard-container{
    max-width: 1280px;
    margin:  0 auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
    .booking{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
        margin: 0;
        padding: 0;
        .booking{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 150px;
            border-radius: 8px;
            p, h1{
                padding: 0;
                margin: 0;
                text-align: center;
            }
            p{
                font-size: 14px;
                font-weight: 600;
                color: white;
            }
            h1{
                font-size: 20px;
                font-weight: 700;
                color: white;
                // line-height: 100px;
            }
        }
        .today-booking{
            
            background-color: rgb(6,148,162);
        }
        .yesterday-booking{
            background-color: rgb(255,138,76);
        }
        .month-booking{
            background-color: rgb(63,131,248);
        }
        .total-booking{
            background-color: rgb(14,159,110);
        }
    }
    .booking-status{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
        margin: 0;
        padding: 0;
        .booking-item{
            border: 1px solid #eee;
            background-color: white;
            padding: 12px 18px;
            border-radius: 8px;
            display: flex;
            align-items: center; 
            gap: 15px;
            .counter-text{
                margin: 0;
                padding: 0;
                font-size: 15px;
                font-weight: 600;
                line-height: 18px;
            }
            .counter-number{
                margin: 0;
                padding: 0;
                font-size: 26px;
                line-height: 30px;
                font-weight: 700;
            }
            .booking-icon{
                background-color: #eee;
                font-size: 22px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .cart-icon{
                background-color: rgb(254 202 202) ;
                color: rgb(220 38 38);
            }
            .pending-icon{
                background-color: rgb(254 215 170);
                color: rgb(234 88 12);
            }
            .process-icon{
                background-color: rgb(199 210 254);
                color: rgb(79 70 229);
            }
            .complete-icon{
                background-color: rgb(167 243 208);
                color: rgb(5 150 105);
            }
        }
    }
    .booking-chart{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
        .chart{
            background-color: white;
            padding: 15px;
            border-radius: 8px;
            border: 1px solid #eee;
        }
    }
}
@media screen and (max-width: 1279px){
    .dashboard-container{
        .booking-status{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        .booking-chart{
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}
@media screen and (max-width: 767px){
    .dashboard-container{
        .booking{
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .booking-status{
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}