.prev, .next{
    top: 45%;
    height: 26px;
    width: 26px;
    padding: 0 3px;
    background-color: #f2f2f2;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    z-index: 1 !important;
    display: none !important;
    transition: visibility 0.2s ease;
}
.prev{
  float: left;
  left: 5px;
}
.prev:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.next{
  float: right;
  right: 5px;
}
.next:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search{
    max-width: 1280px;
    padding: 30px 24px;
    margin:  0 auto;
}

.search-container{
    display: flex;
    gap: 30px;
    .places{
        .total-place{
            font-size: 15px;
            margin: 0;
            font-weight: 500;
        }
        .switch-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 8px 12px;
            margin-top: 20px;
            .switch-tag{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                height: fit-content;
                h1{
                    font-size: 16px;
                    font-weight: 600;
                }
                .divider{
                    width: 1px;
                    height: 15px;
                    background-color: #ddd;
                }
                p{
                    font-size: 15px;
                    color: #808080;
                }
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 30px;
                input[type="checkbox"] {
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                  .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    transition: 0.4s;
                    border-radius: 34px;
                  }
                  .slider:before {
                    position: absolute;
                    content: "";
                    height: 23px;
                    width: 23px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: 0.4s;
                    border-radius: 50%;
                  }
                  input:checked + .slider {
                    background-color: #222222;
                  }
                  input:checked + .slider:before {
                    transform: translateX(26px);
                  }
            }
        }
        .place-grid{
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 24px;
            margin-top: 30px;
            .card{
                .img-container{
                    position: relative;
                    .wish-btn{
                        position: absolute;
                        z-index: 1;
                        top: 8px;
                        right: 8px;
                        color: white;
                        transition: color 0.1s ease;
                        &:hover{
                        color: #ddd;
                        }
                    }
                    img{
                        height: 250px !important;
                        border-radius: 12px;
                    }
                }
                .info-container{
                    h1{
                        font-size: 15px;
                        font-weight: 700;
                    }
                    .booking-list{
                        font-size: 14px;
                        color: #717175;
                        margin: 0;
                    }
                }
                &:hover  .next, &:hover .prev{
                    display: block !important;
                    cursor: pointer;
                }
            }
        }
        
    }
    .maps{
        height: fit-content;
        width: 50%;
        position: sticky;
        top: 100px;
    }
}

.slick-dots {
    margin: 0 !important;
    padding: 0 !important;
}
  
.slick-dots li {
    margin: 0 !important;
    padding: 0 !important;
}
  
.slick-dots li button {
    color: white !important;
}
.slick-dots li.slick-active button:before {
    color: white !important;
}

@media screen and (min-width: 978px) {
    .search-container{
        .places{
            .place-grid{
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
        
    }
}

@media screen and (max-width: 977px) {
    .search-container{
        .places{
            width: 100%;
            .place-grid{
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
        .maps{
            display: none;
        }
        
    }
}

@media screen and (max-width: 817px) {
    .search-container{
        .places{
            .place-grid{
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
        
    }
}
@media screen and (max-width: 700px) {
    .search-container{
        .places{
            .place-grid{
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
        
    }
}
@media screen and (max-width: 503px) {
    .search-container{
        .places{
            .switch-container{
                .switch-tag{
                    flex-direction: column;
                    align-items: start;
                    gap: 3px;
                    .divider{
                        display: none;
                    }
                }
            }
            .place-grid{
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}