.place-details{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px 80px 24px;
    margin-top: 20px;
    .card-divider{
        width: 100%;
        height: 1px;
        background-color: #ddd;
    }
    .mobile-version{
        display: none;
        overflow-x: hidden;
        img{
            width: 100%;
            max-height: 300px !important;
        }
    }
    .header{
        h1{
            font-size: 32px;
            padding: 0;
            margin: 0;
        }
        p{
            font-size: 16px;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }
    }
    .desktop-img-container{
        display: flex;
        gap: 20px;
        width: 100%;
        max-height: 500px !important;
        margin-top: 15px;
        .large-img{
            width: 50%;
            max-height: 500px !important;
            img{
                height: 100%;
                border-radius: 10px 0 0 10px !important;
            }
        }
        .grid-img{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 50%;
            max-height: 500px !important;
            .img{
                width: 100%;
                max-height: 250px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .top-corner{
                border-radius: 0 10px 0 0 !important;
            }
            .bottom-corner{
                border-radius: 0 0 10px 0 !important;
            }
        }
    }
    .place-advantage{
        width: 70%;
        .room-facilities-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .room-facilities{
                display: flex;
                flex-direction: column;
                .host-heading{
                    margin: 0;
                    font-size: 20px;
                    font-weight: 600;
                }
                .bed-option{
                    display: flex;
                    list-style-position: inside;
                    margin: 0;
                    font-size: 15px;
                    p,li{
                        margin: 0;
                        font-size: 14px;
                    }
                    li::before {
                        content: "\2022";
                        color: #717171;
                        font-weight: bold;
                        display: inline-block; 
                        width: 1em;
                        padding-left: 8px;
                        margin-left: 0.1em;
                    }
                }
            }
        }
        .dive-head{
            font-size: 14px;
            padding: 0;
            margin: 0;
            color: black;
            font-weight: 600;
        }
        .dive-header{
            color: #717171;
            font-weight: 400;
            font-size: 13px;
        }
        .room-type{
            border-radius: 10px;
            border: 1px solid #dddddd;
            width: 40%;
            padding: 20px;
            margin-top: 20px;
        }
        .service-container{
            display: flex;
            align-items: center;
            gap: 10px;
            .service-icon{
                color: #222222;
                font-size: 18px !important;
            }
            .service-name{
                font-size:14px;
                color: #222222;
            }
        }
        
    }
    .place-info-card{
        width: 30%;
        height: fit-content;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 25px;
        top: 170px;
        position: sticky;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        .card-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            .card-header-option{
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
        .reserve-option{
            position: relative;
            border: 1px solid #ddd;
            border-radius: 8px;
            .date-picker, .guest-picker{
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                .check-in{
                    width: 100%;
                    padding: 8px;
                }
                .check-out{
                    width: 100%;
                    padding: 8px;
                    border-left: 1px solid #ddd;
                }
                .check-head{
                    font-size: 9px;
                    font-weight: 700;
                    margin: 0;
                }
                .check-counter{
                    margin: 0;
                    font-size: 13px;
                }
            }
            .guest-picker{
                position: relative;
                padding: 8px;
                border-top:1px solid #ddd;
            }
        }
        .reserve-btn{
            width: 100%;
            padding: 8px 0;
            border-radius: 8px;
            font-weight: 600;
            font-size: 14px;
            margin-top: 20px;
            background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
            color: rgb(255, 255, 255)
        }
        
    }
    .review{
        .heading{
            font-size: 20px;
            font-weight: 600;
        }
        .review-container{
            .empty-review{
                height: 50px;
                width: 50px;
                background-color: rgb(254 202 202);
                border-radius: 50%;
                color: rgb(220 38 38);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                margin: 0 auto;
                
            }
        }
    }
    .map{
        .heading{
            font-size: 20px;
            font-weight: 600;
            margin: 0;
        }
        p{
            font-size: 14px;
            margin: 0;
        }
        .singleMap{
            background-color : #F2D4DC;
            // background-clip: content-box;
            border-radius : 50%; 
            opacity : 0.9;
            animation: animation 2.5s linear infinite;
        }
        @keyframes animation {
            0% {
                padding: 0; 
            }
            50% {
                padding: 20px;
            }
            100% {
                padding: 0;
            }
          }
          
    }

    .mobile-bottom-navbar{
        overflow-x: hidden;
        background-color: white;
        border-top: 1px solid #ddd;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        z-index: 1;
        visibility: hidden;
        .mobile-bottom-navbar-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1280px;
            padding: 10px 40px;
            margin: 0 auto;
            .mobile-reserve-btn{
                padding: 6px 16px;
                border: 1px solid red;
                border-radius: 4px;
                font-weight: 600;
                font-size: 14px;
                color: white;
                background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
            }
        }
    }

    .top-navbar{
        background-color: white;
        border-bottom: 1px solid #ddd;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        .top-navbar-container{
            max-width: 1280px;
            padding: 20px 40px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul, li{
                margin: 0;
                display: flex;
                align-items: center;
                gap: 16px;
            }
            .reserve-btn{
                padding: 6px 16px;
                border: 1px solid red;
                border-radius: 4px;
                font-weight: 600;
                font-size: 14px;
                color: white;
                background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
            }
        }
    }
    
}

@media screen and (max-width: 767px) {
    .place-details{
        .mobile-version{
            display: block;
        }
        .desktop-img-container{
            display: none;
        }
        .place-advantage{
            width: 100%;
        }
        .place-info-card{
            display: none;
        }
        .mobile-bottom-navbar{
            visibility: visible;
        }
        .top-navbar{
            display: none;
        }
    }
}