.footer{
    position: fixed;
    left: 0;
    bottom: 0 ;
    background-color: white;
    border-top: 1px solid #b0b0b0;
    width: 100% !important;
    z-index: 2;
    padding: 12px 0;
    .footer-container{
        max-width: 1280px;
        margin: 0 auto ;
        padding: 0 40px;
        font-size: 15px;
    }
}