.prev, .next{
  top: 45%;
  height: 26px;
  width: 26px;
  padding: 0 3px;
  background-color: #f2f2f2;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  z-index: 1 !important;
  display: none !important;
  transition: visibility 0.2s ease;
}
.prev{
  float: left;
  left: 5px;
}
.prev:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.next{
  float: right;
  right: 5px;
}
.next:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.place{
  max-width: 1280px;
  padding: 30px 40px 55px 40px;
  margin: 0 auto;
  .place-container{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
    .place-card{
      .img-container{
        position: relative;
        .wish-btn{
          position: absolute;
          z-index: 1;
          top: 8px;
          right: 8px;
          color: white;
          transition: color 0.1s ease;
          &:hover{
            color: #ddd;
          }
        }
        img{
          height: 250px !important;
          border-radius: 12px;
        }
      }
      .info-container{
        h1{
          font-size: 15px;
          font-weight: 700;
        }
        p{
          font-size: 14px;
          color: #717175;
          margin: 0;
        }
      }
      &:hover  .next, &:hover .prev{
        display: block !important;
        cursor: pointer;
      }
    }
  }
}
.slick-dots {
  margin: 0 !important;
  padding: 0 !important;
}

.slick-dots li {
  margin: 0 !important;
  padding: 0 !important;
}

.slick-dots li button {
  color: white !important;
}
.slick-dots li.slick-active button:before {
  color: white !important;
}

@media screen and (min-width: 1024px) {
  .place{
    .place-container{
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place{
    .place-container{
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 767px){
  .place{
    .place-container{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media screen and (max-width: 639px) {
  .place{
    .place-container{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}